@charset "ISO-8859-1";

ul
{
	display: inline-block;
	list-style-type: none;
	font-weight: bold;
	font-size: 20px;
	
}

span{
	font-weight: bold;
	font-size: 20px;
	color: white;
		margin: 0px 0px 0px 0px;
}

.spanIdField{
	margin-top:15px;
	font-weight: none;
	font-size: 16px;
	color: white;
		margin: 0px 0px 0px 0px;
}

.trForm{
  background-color: red;
}

